behavioral data/analysis/1_data/raw_data/Real+losses_October+14,+2024_08.32.csv
behavioral data/analysis/1_data/raw_data/past/Real+losses_August+4,+2024_14.58.csv
behavioral data/analysis/1_data/raw_data/past/Real+losses_August+6,+2024_03.49.csv
behavioral data/analysis/1_data/raw_data/past/Real+losses_August+27,+2024_06.22.csv
behavioral data/analysis/1_data/raw_data/past/Real+losses_July+29,+2024_04.42.csv
literature review/1_data/1_subsample_data.csv
literature review/1_data/2_subsample_data.csv
literature review/1_data/3_subsample_data.csv
literature review/1_data/all_papers_2024-10-02_embeddings.csv
literature review/1_data/all_papers_2024-10-02.csv
literature review/1_data/papers_citing_ProspectTheory.csv
literature review/1_data/reasons_normalization_papers.csv
literature review/1_data/sample1000_papers_embeddings.csv
literature review/1_data/sample1000_papers.csv
literature review/1_data/scopus - 1911 to 2005.csv
literature review/1_data/scopus - 2006 to 2013.csv
literature review/1_data/scopus - 2014 to 2018.csv
literature review/1_data/scopus - 2019 to 2021.csv
literature review/1_data/scopus -2022 to 2024.csv
literature review/1_data/selected_papers_normalized_past.csv
literature review/1_data/selected_papers_normalized_past2.csv
literature review/1_data/selected_papers_normalized.csv
literature review/1_data/selected_papers.csv
literature review/1_data/subsample_data.csv
literature review/1_data/by topic/scopus - agricultural and biological sciences.csv
literature review/1_data/by topic/scopus - arts and humanities.csv
literature review/1_data/by topic/scopus - biochemistry, genetics and molecular biology.csv
literature review/1_data/by topic/scopus - business, management and accounting.csv
literature review/1_data/by topic/scopus - computer science.csv
literature review/1_data/by topic/scopus - decision sciences.csv
literature review/1_data/by topic/scopus - economics, econometrics and finance.csv
literature review/1_data/by topic/scopus - energy.csv
literature review/1_data/by topic/scopus - engineering .csv
literature review/1_data/by topic/scopus - enviromental sciences.csv
literature review/1_data/by topic/scopus - health professions.csv
literature review/1_data/by topic/scopus - mathematics.csv
literature review/1_data/by topic/scopus - medicine from 2020.csv
literature review/1_data/by topic/scopus - medicine till 2019.csv
literature review/1_data/by topic/scopus - multidisciplinary.csv
literature review/1_data/by topic/scopus - neuroscience.csv
literature review/1_data/by topic/scopus - nursing.csv
literature review/1_data/by topic/scopus - physics and astronomy.csv
literature review/1_data/by topic/scopus - psychology.csv
literature review/1_data/by topic/scopus - social sciences.csv
literature review/Roaming RA/Appendix.docx
literature review/Roaming RA/classify.json
literature review/Roaming RA/Protocol for Classifying Articles for Analysis.docx
literature review/Roaming RA/Roaming RA document.docx
behavioral data/consent.docx
